body, div {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: slategray;
}
.dialog-hidden {
    display: none;
}
.dialog {
    position: absolute;
    z-index: 100;
    top: 20%;
    border-radius: 2.5em;
    max-width: 800px;
    width: calc(100vw - 8em);
    padding: 3em;
    background-color: white;
    box-shadow: 0 0 2em dimgray;
}
.dialog #api-url {
    width: 70%;
}

#save-api-btn {
    border: none;
    font-size: x-large;
    background: none;
}
#show-api-dialog-btn {
    z-index: 100;
    border: none;
    background: none;
    position: absolute;
    font-size: large;
}
.container {
    max-width: 800px;
    height: calc(100vh - 2em);
    margin: 0 auto;
    background-color: lightblue;
    font-size: large;
    padding: 1em;
    position: relative;
}

.thread {
    margin: 0.2em;
    padding: 0.2em;
    width: 100%;
    max-height: calc(100vh - 10em);
    min-height: 100px;
    background-color: white;
    overflow-y: scroll;
    border-radius: 0.5em;
}
form#input {
    position: fixed;
    width: calc(100% - 1em);
    max-width: calc(800px - 1em);
    top: calc(100vh - 8.5em);
    height: 8em;
}
p.name {
    display: inline-block;
    font-family: sans-serif;
}
.message .content {
    display: inline-block;
    margin: 0.2em 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    border: 1px black solid;
    max-width: calc(100% - 2em);
    font-size: larger;
}
.message .content pre {
    background-color: wheat;
    max-width: 100%;
    overflow-x: scroll;
}

.message.user {
    text-align: right;
}
.message.user .content{
    box-shadow: 0 0 4.5em darksalmon;
}

.message.assistant {
    text-align: left;
}
.message.assistant .content{
    box-shadow: 0 0 4.5em deepskyblue;
}

textarea#user-input {
    font-size: large;
    width: calc(100% - 2em);
    margin: 0.5em;
    padding: 0.5em 0.2em;
    border-radius:  0.6em;
    resize: none;
}

button#send {
    font-size: large;
    padding: 0.5em 2em;
    border: 1px solid;
    border-radius:  0.6em;
    margin: 0.5em;
    background-color: mediumseagreen;
    color: white;
}